* {
    box-sizing: border-box; /* 1 */
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

/* global */
body {
    font-size: 1.6rem;
    font-family: "Poppins", "sans-serif";
}

main {
    height: 2000px;
}

a {
    text-decoration: none;
}

/* button */
.btn {
    display: inline-block;
    min-width: 118px;
    background-color: #4b4b4b;
    border-radius: 24px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

/* Body */

.main-content {
    width: 1170px;
    max-width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
}

.header .body {
    display: flex;
    padding: 36px 0 8px 0;
}

.nav {
    margin-left: auto;
}

.nav a {
    position: relative;
    color: #5f5b53;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    padding: 8px 21px;
}

.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0px 0px currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 2px;
    background-color: #171100;
    left: 21px;
    bottom: 6px;
}

.header .nav ul {
    display: flex;
}

.header .body {
    display: flex;
    align-items: center;
}

.header .btn-signup {
    display: inline-block;
    font-size: 1.6rem;
    background: #171100;
    line-height: 50px;
    min-width: 144px;
}

.header {
    background-color: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -32px;
}

.header .action {
    margin-left: 49px;
}

/* =================== Hero ===================== */

.hero .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 25px;
    object-position: -409px;
}
