* {
    box-sizing: border-box; /* 1 */
}

:root {
    --font-heading: "Sen", sans-serif;
    --primary-color: #ffb900;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

/* global */
body {
    font-size: 1.6rem;
    font-family: "Poppins", "sans-serif";
}

main {
    height: 4000px;
}

a {
    text-decoration: none;
    color: currentColor;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}
.break-all {
    word-break: break-all;
}
/* button */

.btn {
    display: inline-block;
    line-height: 50px;
    min-width: 118px;
    background-color: #4b4b4b;
    border-radius: 999px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

.title {
    color: #171100;
    font-family: var(--font-heading);
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1.16px;
}

.title.h1 {
    font-size: 5.8rem;
    line-height: 68px; /* 117.241% */
}
.title.h2 {
    font-size: 3.8rem;
    line-height: 48px; /* 126.316% */
}
.title.h3 {
    font-family: poppins;
    font-size: 18px;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0;
}
/* Body */

.main-content {
    width: 1170px;
    max-width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
}

.header .body {
    display: flex;
    padding: 36px 0 8px 0;
}

.nav {
    margin-left: auto;
}

.nav a {
    position: relative;
    color: #5f5b53;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    padding: 8px 21px;
}

.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0px 0px currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 2px;
    background-color: #171100;
    left: 21px;
    bottom: 6px;
}

.header .nav ul {
    display: flex;
}

.header .body {
    display: flex;
    align-items: center;
}

.header .btn-signup {
    display: inline-block;
    font-size: 1.6rem;
    background: #171100;
    line-height: 50px;
    min-width: 144px;
}

.header {
    background-color: #fffcf4;
}

.header.fixed {
    z-index: 1;
    position: sticky;
    top: -32px;
}

.header .action {
    margin-left: 49px;
}

/* =================== Hero ===================== */
.hero {
    padding-top: 60px;
    background-color: #fffcf4;
}

.hero .body {
    display: flex;
}
.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .img {
    /* position: relative; */
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 25px;
    object-position: -409px;
}

.hero .media-block .card {
    position: absolute;
    right: 0;
    padding: 28px 24px;
    bottom: 48px;
    width: 270px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.media-block .course {
    display: flex;
}

.media-block .course + .course {
    margin-top: 22px;
}

.card .icon {
    width: 48px;
    height: 48px;
    background-color: #fff9e8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .card .info {
    margin-left: 16px;
}

.card .label {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}

.card .title {
    color: #171100;
    font-family: poppins;
    font-size: 1.8rem;
    letter-spacing: normal;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.card .course:nth-of-type(2) .icon {
    background-color: #fcefff;
}

.card .course:nth-of-type(3) .icon {
    background-color: #ebeaff;
}

.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.title {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 68px; /* 117.241% */
    letter-spacing: -1.16px;
}

.content-block .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.hero .cta-block {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.cta-block .hero-cta {
    min-width: 180px;
    background-color: var(--primary-color);
    line-height: 64px;
}

.hero .watch {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    margin-left: 28px;
    cursor: pointer;
}

.watch .video {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.cta-block span {
    color: #171100;
    font-family: poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
    margin-left: 16px;
}

.hero .stats strong {
    color: #171100;
    padding: 0 8px 0 28px;
    font-family: var(--font-heading);
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px; /* 122.727% */
    padding-right: 8px;
}

.hero .stats {
    margin-top: 8px;
    margin-left: -28px;
}

/* =================== Courses ===================== */
.courses {
    margin-top: 135px;
    padding: 65px 0;
    /* background-color: #fffcf4; */
}

.courses-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses-top .info .desc {
    width: 458px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.courses-top .control {
    display: flex;
    gap: 18px;
}

.courses-top .control .control-btn {
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.courses-top .control .control-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.courses-btm .thumb {
    margin: -1px;
    width: calc(100% + 2px);
    height: 278px;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
}

.courses .courses-btm {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.courses .courses-btm .card {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #fff;
}

.courses .courses-btm .card:hover {
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
    border-color: transparent;
}

.courses .courses-btm .info {
    padding: 16px 22px 22px 22px;
}

.courses .courses-btm .btm,
.courses .courses-btm .rating,
.courses .courses-btm .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses .score {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.courses .desc {
    margin: 6px 0 12px 0;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}

.courses .btm .btn {
    border: none;
    background: #171100;
    font-size: 1.4rem;
}

.courses .btm .btn:hover {
    background: #ffb900;
    cursor: pointer;
}

.courses-btm .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}

/* =================== Testimonial ===================== */
.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background-color: #2e2100;
    /* height: 380px; */
}
.feedback .feedback-list {
    display: flex;
    overflow: hidden;
}
.feedback-item {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback .info .avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .info .name {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 141.667% */
}

.feedback .info .desc {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
}

.feedback .feedback-item .dots {
    display: flex;
    gap: 6px;
    margin-top: 28px;
}

.feedback .feedback-item .dot {
    width: 6px;
    height: 6px;
    background-color: #634700;
    border-radius: 50%;
    cursor: pointer;
}

.feedback .feedback-item .dot.active {
    background-color: #ffb900;
}
.feedback .feedback-item .dot:hover {
    background-color: #ffb900;
}

.feedback .content .block-quote {
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 40px; /* 153.846% */
    margin-left: 30px;
}

.feedback .content {
    width: 66%;
}

/* =================== Features ===================== */

.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .features-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features .features-images {
    display: flex;
    gap: 0 30px;
}
.features .features-images .image {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.features .features-images .image:first-child {
    margin-top: 34px;
}

.features .features-content {
    width: 40%;
}

.features .features-content .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.features .cta-btn {
    min-width: 137px;
    margin-top: 32px;
    background: var(--primary-color);
}

.features.features-2 {
    margin-top: 70px;
}

.features-2 .features-content {
    width: 48%;
}

.features.features-2 .image {
    width: 470px;
    height: 440px;
    object-position: 50% 0;
}
